/* Основные стили */
.navbar{
  border-width: 2px;
  border-bottom: 4px gray solid;
}

body {
    display: flex
    flex-direction: column;
}

.content {
    flex-grow: 1;
}

.navbar-brand {
  margin-right: 2rem; /* Увеличить отступ справа для названия сайта */
}

.custom-cart-btn,
.custom-account-btn {
  margin-left: 1rem; /* Увеличить отступ слева для кнопок "Корзина" и "Аккаунт" */
}

.card {
  width: 100%; /* Сделать карточку товара на 100% шире */
  margin-bottom: 30px; /* Увеличить отступ между карточками по вертикали */
  height: 350px; /* Увеличить размер карточек по вертикали */
}

.card-img-top {
  width: 100%;
  height: 50%; /* Высота изображения составляет половину высоты карточки */
  object-fit: cover; /* Масштабирование изображения, чтобы оно полностью заполняло блок */
}

.card-title,
.card-price,
.card-rating {
  margin-bottom: 5px; /* Уменьшаем вертикальные отступы между элементами в карточке */
}

.btn-primary {
  width: calc(87% + 30px); /* Увеличиваем ширину кнопки на 30px для компенсации внутренних отступов */
  margin-top: 10px; /* Добавляем отступ между кнопкой и дном карточки */
  background-color: #007bff; /* Возвращаем фон кнопки */
}

.card-body {
  padding: 15px; /* Увеличиваем внутренний отступ в карточке */
  margin-left: -5px; /* Сдвигаем содержимое карточки влево */
}

/* Дополнительные стили для сдвига влево */
.container {
  padding-left: 0; /* Убираем внутренний отступ слева */
  padding-right: 0; /* Убираем внутренний отступ справа */
  margin-left: 15px; /* Добавляем отступ слева для всех карточек */
}

#reviewsCarousel .carousel-control-prev-icon,
#reviewsCarousel .carousel-control-next-icon {
  top: 30%;
  transform: translateY(-30%);
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

#reviewsCarousel .carousel-control-next-icon:after
{
  content: '>';
  font-size: 44px;
  color: rgb(52, 58, 64);
}

#reviewsCarousel .carousel-control-prev-icon:after {
  content: '<';
  font-size: 44px;
  color: rgb(52, 58, 64);
}

#reviewsCarousel .carousel-control-prev {
  left: -5%;
}

#reviewsCarousel .carousel-control-next {
  right: -5%;
}

#reviewsCarousel .carousel-item img {
  margin-top: 27px; /* или другое значение, на ваш выбор */
}

.github-link {
    margin-bottom: 10px;
}

footer {
    height: 250px;
    margin-top: 50px;
}
