{% extends "base.html" %}

{% block content %}
<style>
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 250px;
    }
</style>
<div class="custom-container container">
    <div class="row">
      <div class="col">
        <div class="author-name text-center">Kimiroshi</div>
        <div class="about-me">Информация о себе 1</div>
        <a href="https://github.com/Kimiroshi" class="btn btn-outline-dark github-link">Ссылка на GitHub</a>
      </div>
      <div class="col">
        <div class="author-name text-center">dezcode_</div>
        <div class="about-me">Информация о себе 2</div>
        <a href="https://github.com/ver-tuego" class="btn btn-outline-dark github-link">Ссылка на GitHub</a>
      </div>
      <div class="col">
        <div class="author-name text-center">Dima123kr</div>
        <div class="about-me">Информация о себе 3</div>
        <a href="https://github.com/Dima123kr" class="btn btn-outline-dark github-link">Ссылка на GitHub</a>
      </div>
    </div>
</div>
{% endblock %}
