{% extends "base.html" %}
{% block content %}
{% if is_not_seller %}
  <style>
      footer {
          position: fixed;
          bottom: 0;
          width: 100%;
          height: 250px;
      }
  </style>
  <div class="container">
    <h2 class="mt-4 mb-4">Вы не продавец</h2>
  </div>
{% elif current_user.is_authenticated %}
  <div class="container">
    <h2 class="mt-4 mb-4">Добавление нового товара</h2>

    <form action="/submit-product" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="product_name">Название товара:</label>
        <input type="text" maxlength="30" class="form-control" id="product_name" name="product_name" required>
      </div>
      <div class="form-group">
        <label for="product_price">Цена товара:</label>
        <input type="number" class="form-control" id="product_price" name="product_price" required>
      </div>
      <div class="form-group">
        <label for="product_quanity">Количество на складе:</label>
        <input type="number" class="form-control" id="product_quanity" name="product_quanity" required>
      </div>
      <div class="form-group">
        <label for="product_description">Описание товара:</label>
        <textarea class="form-control" maxlength="450" id="product_description" name="product_description" rows="4" required></textarea>
      </div>
      <div class="form-group">
        <label for="product_images">Фотографии товара:</label>
        <input type="file" class="form-control-file" id="product_images" name="product_images" accept=".png,.jpg,.bmp,.jpeg" multiple required>
      </div>
      <button type="submit" class="btn btn-outline-dark">Добавить товар</button>
    </form>
  </div>


{% else %}
  <div class="container">
      <h2 class="mt-4 mb-4">Вы не авторизованы</h2>
  </div>
{% endif %}
{% endblock %}